body {
  background: url(media/zebre.jpg) fixed;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

.logo { width: 50%; }

.jumbotron { background-color: transparent; }
.jumbotron p { font-weight: normal; }
.jumbotron .phone { text-align: right; }
.jumbotron .email { text-align: left; }
