body {
  background: url(media/zebre.png) no-repeat 8% 75% fixed;
  background-size: 33%;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

a, a:link, a:visited {
  text-decoration: none;
  color: #333;
  transition: color .2s linear;
}
a:hover { color: #fa8a6b; }

.logo { width: 50%; }

.container {    }

.jumbotron { background-color: transparent; }
.jumbotron h1 { margin-bottom: 25px; }
.jumbotron p {
  font-weight: normal;
  font-size: 2vw;
  margin-bottom: 7px;
}
.jumbotron .phone, .jumbotron .email {
  font-size: 1.5vw;
  padding-left: 5vw;
  padding-right: 5vw;
}
.jumbotron .phone { text-align: right; }
.jumbotron .email { text-align: left; }

@media (max-width: 480px) {
  body {
    /*background: #f00 none;*/
  }
}